<!-- <div class="body">
  <br><br>
  <h1 align="center">SpringFood | Menu</h1>
  <br><br>

  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && getTotal()" novalidate class="feedback-form">
    <div class="container-fluid" style="margin: 0 auto; width: 75%;">
      <div class="row">
        <div class="card-deck" *ngFor="let m of model; let index=index" style="padding-right: 3px">
          <div class="card" style="width: 18rem;"> -->
            <!--<img class="card-img-top zoom" src="{{m.url}}" alt="{{m.item}}"  style="height: 190px">-->
            <!-- <img class="card-img-top zoom" [src]="_DomSanitizationService.bypassSecurityTrustUrl(m.url)" style="height: 190px"/>
            <div class="card-block">
              <div class="card-body">
                <h5 class="card-title" style="color: black">{{m.item}}</h5>
                <p class="card-text">Price : Rs.{{m.price}}</p>
                <p> Quantity Available : {{m.quantity}}</p>
              </div>
            </div>
          </div>
          <input class="input-group-text input-align" type="number" name="name+{{index}}" min="0" max="{{model[index].quantity}}" value="{{values[index].quantity}}" [(ngModel)]="values[index].quantity">
        </div>
      </div>
    </div>
    <br><br>
    <div class="container" align="center">
      <button class="bigbutton"  routerLink="/addItem"><span>Add Item</span></button>
      <button type="submit" class="bigbutton"><span>Update Quantity</span></button>
      <button routerLink="/home" type="button"  class="bigbutton" (click)="clearLocal()"><span>Log Out</span></button>
    </div>
  </form>
  </div> -->



  <div class="body">
    <br><br>
    <h1 align="center"><b>Merchant Menu</b></h1>
    <br><br>

    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && getTotal()" novalidate class="feedback-form">
        <div class="container-fluid" style="margin: 0 auto; width: 100%;">
            <!-- Display menu items in rows and columns -->
            <div class="row">
                <div class="col-md-6" *ngFor="let m of model | paginate : { itemsPerPage: itemsPerPage, currentPage: currentPage }; let index=index">
                    <div class="card mb-4">
                        <img class="card-img-top zoom" src="{{m.url}}" alt="{{m.item}}" style="height: 190px">
                        <div class="card-body">
                            <h5 class="card-title" style="color: black">{{m.item}}</h5>
                            <p class="card-text">Price : Rs.{{m.price}}</p>
                            <p> Quantity Available : {{m.quantity}}</p>
                        </div>
                        <!-- Input for quantity here -->
                        <input class="input-group-text input-align" type="number" name="name+{{index}}"
                               min="0" max="{{m.quantity}}" [(ngModel)]="values[index].quantity">

                               <!-- Delete button -->
                      <button class="btn btn-danger" (click)="deleteMenuItem(m.id.toString())">Delete</button>
                    </div>
                </div>
            </div>


            <div class="container" align="center">
                <button class="bigbutton" routerLink="/addItem"><span><b>Add Item</b></span></button>
                <button type="submit" class="bigbutton"><span><b>Update Quantity</b></span></button>
                <button routerLink="/home" type="button" class="bigbutton" (click)="clearLocal()"><span><b>Log Out</b></span></button>



            </div>
        </div>
    </form>

    <!-- Script for pagination -->
  <div class="text-right">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>

</div>



